<img
  *ngIf="vehicle.name === 'Air Destroyer Goliath'"
  src="https://steamuserimages-a.akamaihd.net/ugc/800921761784638017/3C728D05CBF4AE463933F80027E79448215FF466/?imw=637&imh=358&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true"
  alt="#"
/>
<img
  *ngIf="vehicle.name === 'Red Wing'"
  src="https://hips.hearstapps.com/es.h-cdn.co/fotoes/images/peliculas-para-ninos-cine-infantil/las-mejores-frases-del-cine-de-ghibli/porco-rosso/114599443-1-esl-ES/Porco-rosso.jpg?resize=480:*"
  alt="#"
/>
<img
  *ngIf="vehicle.name.includes('Sosuke')"
  src="https://i.pinimg.com/originals/23/3e/d3/233ed32b079d015cb452a25c6020edd3.png"
  alt="#"
/>
<h2>{{ vehicle.name }}</h2>
