.filmImgContainer {
    height: 60%;
    background-color: transparent;
    margin-top: -37px;
}

.filmTxt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40%;
    border: 2px solid #4E4438;
    border-radius: 50px;
    min-height: 230px;
    min-width: 350px;
    background-color: #DFD3B4;
}

img {
    height: 300px;
}

p {
    margin: 0;
    padding: 0;
}

h4 {
    margin: 5px;
}