<ul>
    <li class="personItem" *ngFor="let person of people">
        <h2>{{person.name}}</h2>
        <p>Género: {{person.gender}}</p>
        <p>Edad: {{person.age}}</p>
        <p>Pelo: {{person.eye_color}}</p>
        <p>Ojos: {{person.eye_color}}</p>
        <p *ngIf="person.species === 'https://ghibliapi.herokuapp.com/species/e2cfaa78-fb19-11eb-9a03-0242ac130003'">Especie: Dragon</p>
        <p *ngIf="person.species === 'https://ghibliapi.herokuapp.com/species/af3910a6-429f-4c74-9ad5-dfe1c4aa04f2'">Especie: Human</p>
        <p *ngIf="person.species === 'https://ghibliapi.herokuapp.com/species/6bc92fdd-b0f4-4286-ad71-1f99fb4a0d1e'">Especie: Deer</p>
        <p *ngIf="person.species === 'htps://ghibliapi.herokuapp.com/species/b5a92d0e-5fb4-43d4-ba60-c012135958e4'">Especie: Spirit</p>
        <p *ngIf="person.species === 'https://ghibliapi.herokuapp.com/species/f25fa661-3073-414d-968a-ab062e3065f7'">Especie: God</p>
        <p *ngIf="person.species === 'https://ghibliapi.herokuapp.com/species/603428ba-8a86-4b0b-a9f1-65df6abef3d3'">Especie: Cat</p>
        <p *ngIf="person.species === 'https://ghibliapi.herokuapp.com/species/74b7f547-1577-4430-806c-c358c8b6bcf5'">Especie: Totoro</p>
    </li>
</ul>
