nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: #4E4438;
}

div {
    background-color: #DFD3B4;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 10px;
    margin: 15px;
}

div:hover {
    cursor: pointer;
}